* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #000;
}

#clock {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5rem;
  color: greenyellow;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.greeting-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
h1 {
  margin-bottom: 3rem;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(210, 233, 126);
  font-size: 4rem;
}
